.top-nav .nav-item {
    padding: 6px 60px;
    border: 1px solid;
    font-weight: 600;
}

.navbar-bg {
    background-color: #fdffbc;
}

.top-nav .nav-link {
    color: #000;
    font-weight: 600;
}

.top-nav .nav-link .active {
    color: #00205c;
    font-weight: 600;
}

@media only screen and (max-width: 1280px) {
    .top-nav .nav-item {
        padding: 6px 30px;
    }
}
@media only screen and (max-width: 1024px) {
    .top-nav .nav-item {
        padding: 6px 16px;
    }
}